/* ======= */

/* * {
  background-color: rgba(255, 0, 0, .2);
}

* * {
  background-color: rgba(0, 255, 0, .2);
}

* * * {
  background-color: rgba(0, 0, 255, .2);
}

* * * * {
  background-color: rgba(255, 0, 255, .2);
}

* * * * * {
  background-color: rgba(0, 255, 255, .2);
}

* * * * * * {
  background-color: rgba(255, 255, 0, .2);
}

* * * * * * * {
  background-color: rgba(255, 0, 0, .2);
}

* * * * * * * * {
  background-color: rgba(0, 255, 0, .2);
}

* * * * * * * * * {
  background-color: rgba(0, 0, 255, .2);
} */


/* ======= */


* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  background-color: #fafafa;
  color:#212529;
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
}

a {
  color: #1f97bb;
  text-decoration: none;
}
a:hover {
  color: #ecb807;
}

/* ======= */
/* HEADER */


.header {
  margin: 1rem;
}
.title {
  font-size: 3em;
}

/* ======= */
/* MAIN */
.main {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}
.calculator {
  background-color: #212529;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: 1rem;
  height: 55rem;
  width: 32rem;
  padding: 0.8rem;
}

.calculator__display {
  background-color: #fafafa;
  border-radius: 1.2rem 1.2rem 0 0;
  box-shadow: 0 0 0 1px #999999;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  justify-content: stretch;
  height: 30%;
}

.calculator__display > div {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

.result--small {
  font-size: 3.1rem;
  word-break: break-all;
}

.calculator__result--temp {
  color: #999999;
  font-size: 3rem;
}

.temp--small {
  font-size: 2.5rem;
  word-break: break-all;
}

.calculator__keys {
  align-items: stretch;
  display: grid;
  font-size: 3em;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "plus minus times divide"
                        "seven eight nine erase"
                        "four five six equal"
                        "three two one equal"
                        "reset zero period equal";
  height: 70%;
  justify-items: stretch;
}

.calculator__key {
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0 0 0 1px #999999;
  /* border-radius: 0.8rem; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  
}

.calculator__key:active {
  background-color: #b3b3b3;
}

.key--operator, .percent, .erase, .reset {
  background-color: #e6e6e6;
  color:#1f97bb;
}

.erase {
  grid-area: erase;
}
.equal {
  border-radius: 0 0 1.2rem 0;
  background-color: #ecb807;
  color: #212529;
  grid-area: equal;
}

.period {
  grid-area: period;
}

.reset {
  border-radius: 0 0 0 1.2rem;
  grid-area: reset;
}

/* ======= */
/* FOOTER */

.footer {
  align-items: center;
  background-color: #212529;
  color: #fafafa;
  display: flex;
  flex-shrink: 1;
  font-size: 1.6rem;
  height: 6rem;
  justify-content: center;
}